.input-name{
    padding-left: 0;
    padding-right: 8pt;
    width: 300pt;
}

.option-search{
    padding-right: 25pt;
}

.month-option{
    padding-right: 105pt;
}

.custom-width{
    width: 4500px;
  }

.full-width-table {
    width: 100%;
  }
  
