<br><br>
<h1 align="center">Construction Sites</h1><br>


<mat-list>
    <mat-list-item *ngFor="let site of allSiteData; last as last"  >
       <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
        <h4 mat-line>{{site.site_name}}</h4>
        <p mat-line class="demo-2"> {{site.place}} </p>
        <button mat-raised-button color="primary" [routerLink]="['/selected-hr-site-employees',site._id]">Employees</button>&nbsp;
        <button mat-raised-button color="primary" [routerLink]="['/selected-hr-site-attendance',site._id]">Attendance</button>&nbsp;
        <button mat-raised-button color="primary" [routerLink]="['/selected-hr-site-advance',site._id]">Advance Requests</button>&nbsp;
        
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
     </mat-list-item>
  </mat-list>