.hq-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 2.2cm;
    padding-right: 2.2cm;
    font-size: 15pt;
}
.site-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 2.8cm;
    padding-right: 2.8cm;
    font-size: 15pt;
}