.cashbookbutton{
    
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 3.5cm;
    padding-right: 3.5cm;
    font-size: 15pt;
}

.siteexbutton{
    padding-top: 5mm;
    padding-bottom: 5mm;
    font-size: 15pt;
    padding-left: 1.42cm;
    padding-right: 1.42cm;
}

.monthbutton{
    padding-top: 5mm;
    padding-bottom: 5mm;
    font-size: 15pt;
    padding-left: 1.6cm;
    padding-right: 1.6cm;
}

.bg{
    background-size: cover;
    height: 75cm;
   

}
