
  <h1 align="center">Salary Payments</h1>

  <!--Search Text-->
  <mat-form-field class="input-name" appearance="fill">
  <mat-label>Search Here</mat-label>  
  <input matInput [(ngModel)]="searchKey" placeholder="Search" (keyup)="applyFilter()">
  <button mat-button matSuffix mat-icon-button aria-label="clear"*ngIf="searchKey" (click)="onSearchClear()"></button>
  </mat-form-field>
  <form [formGroup]=this.forSelectMonth>
    <mat-form-field>
      <mat-label>Select Month</mat-label>
      <mat-select [(value)]="selected" formControlName="select_month" (selectionChange)="onMonthChange()" >
        <mat-option value="January">January</mat-option>
        <mat-option value="February">February</mat-option>
        <mat-option value="March">March</mat-option>
        <mat-option value="April">April</mat-option>
        <mat-option value="May">May</mat-option>
        <mat-option value="June">June</mat-option>
        <mat-option value="July">July</mat-option>
        <mat-option value="August">August</mat-option>
        <mat-option value="September">September</mat-option>
        <mat-option value="October">October</mat-option>
        <mat-option value="November">November</mat-option>
        <mat-option value="December">December</mat-option>
        
      </mat-select>
    
    </mat-form-field> <br><br>
  </form>
        
  <div class="salary-table">
    

    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    
  
        <!-- Id Column -->
        <ng-container matColumnDef="emp_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</th>
          <td mat-cell *matCellDef="let row">{{row.emp_id}}</td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
    
        <ng-container matColumnDef="name_in">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name_in}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
          <td mat-cell *matCellDef="let row">{{row.designation[0].name}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="site">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Site</th>
          <td mat-cell *matCellDef="let row">{{row.site[0].site_name}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="month">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
          <td mat-cell *matCellDef="let row">{{row.attendance[0].month}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <ng-container matColumnDef="otrate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Rate</th>
          <td mat-cell *matCellDef="let row">{{row.ot_pay | currency:'Rs.'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        
        <ng-container matColumnDef="dayrate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Per Day Rate</th>
          <td mat-cell *matCellDef="let row">{{row.day_pay | currency:'Rs.'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Days</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{getTotalDaysRow(i)}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        
        <ng-container matColumnDef="ots">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>OT</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{getTotalOTsRow(i)}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <ng-container matColumnDef="daypayments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Days Payments</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{getDaypayments(i,element) | currency:'Rs.'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <ng-container matColumnDef="otpayments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Payments</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{getOTPayments(i,element) | currency:'Rs.'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="fullpayments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Payments</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{getFullPayment(i,element) | currency:'Rs.'}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Pay Sheet </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            
            <!--Open Paysheet Button-->
            <button mat-icon-button color="primary" (click)="viewPaySheet(i, element)"><mat-icon>print</mat-icon></button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
    
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">   
            Loading Data...
          </mat-footer-cell>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        <mat-footer-row *matFooterDef="['Loading']" [ngClass]="{'hide':data!=null}"></mat-footer-row>
      </table>
    
      <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="50"
          [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>