
 <div class="bg">
    
    <h1 align="center">Executive Board</h1>
    <div align="center" class="buttons">
   <br><br><br>
     <button class="schedulebutton" mat-raised-button color="primary" routerLink="/eb-shedule-site">Schedule Construction Site</button><br><br>
     <button class="ongoingbutton" mat-raised-button color="primary" routerLink="/ongoing-sites">Ongoing Construction Sites</button><br><br>
     <button class="monthlybutton" mat-raised-button color="primary" routerLink="/eb-monthly-reports">Reports</button>
   
    </div>
   
</div>