.sidenav-container {
  height: 50cm;
  width: 1500px;
}
/*
@media(min-width: 720px){
  .sidenav {
    width: 200px;
    display: none;
  }
}
*/
.hidden{
  display: none;
}

.sidenav .mat-toolbar {
  background: inherit;
 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}



.background{
height: 100%;
background-size: cover;
width: auto;
}

