<h1 align="center" style="font-size: 25pt;" class="mat-h1">Empolyee Management</h1>
<mat-form-field class="option-search"  appearance="fill">
    <mat-label>Search By: </mat-label>
    <mat-select>
      <mat-option value="option-empid">Employee Id</mat-option>
      <mat-option value="option-name">Name</mat-option>
      <mat-option value="option-NIC">NIC</mat-option>
     
      
    </mat-select>
   <br>

</mat-form-field>
<!--Search Text-->
<mat-form-field class="input-name" appearance="fill">
<mat-label>Search Here</mat-label>  
<input matInput [(ngModel)]="searchKey" placeholder="Search" (keyup)="applyFilter()">
<button mat-button matSuffix mat-icon-button aria-label="clear"*ngIf="searchKey" (click)="onSearchClear()"></button>
</mat-form-field>
<!--  Search button-->

<button mat-mini-fab color="primary"  aria-label="Example icon-button with a icon">
<mat-icon >search</mat-icon>
</button><br>

<div class="crud-btn">
    <button  mat-raised-button (click)="onAdd()" color="primary"><mat-icon>library_add</mat-icon>&nbsp;Add</button>
    <button class="remove-btn" (click)="onTransfer()" mat-raised-button color="primary"><mat-icon>transfer_within_a_station</mat-icon>&nbsp;Transfer</button>
    <button class="remove-btn" (click)="printTable()" mat-raised-button color="primary"><mat-icon>local_printshop</mat-icon>&nbsp;Print</button>

</div><br><br>
<!--Employee Table-->
<mat-card id="print_table">
  <h3 align="center">Sam Dam Engineering -- HQ -- All Employees</h3>
<div class="employee-tbl">
  <p *ngIf="AllEmployeeData.length <= 0" class="no-data">There is no employee added yet!</p>


</div>
<!--Filter Options
<mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
  <mat-label>Filter {{filter.name}}</mat-label>
  <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
    (change)="filterChange(filter,$event)">
    <option value="">-- Select {{filter.name}} --</option>
    <option [value]="item" *ngFor="let item of filter.options">{{item.site_name}}</option>
  </select>
</mat-form-field>
&nbsp;
<button mat-raised-button color="warn" (click)="resetFilters()">Reset</button>-->
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" id="table" matSort aria-label="Elements" [dataSource]="dataSource">
  
 
      <!-- Id Column -->
      <ng-container matColumnDef="emp_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</th>
        <td mat-cell *matCellDef="let row">{{row.emp_id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let row">{{row.name_in}}</td>
      </ng-container>
        
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
        <td mat-cell *matCellDef="let row">{{row.gender}}</td>
      </ng-container>
  
      <ng-container matColumnDef="nic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>NIC</th>
        <td mat-cell *matCellDef="let row">{{row.nic}}</td>
      </ng-container>
    
      
      <ng-container matColumnDef="address_1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address 1</th>
        <td mat-cell *matCellDef="let row">{{row.address_2}}</td>
      </ng-container>
  
      
      <ng-container matColumnDef="epf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EPF No.</th>
        <td mat-cell *matCellDef="let row">{{row.epf}}</td>
      </ng-container>
  
      
      <ng-container matColumnDef="etf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ETF No.</th>
        <td mat-cell *matCellDef="let row">{{row.etf}}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let row">{{row.designation[0].name}}</td>
      </ng-container>
  
      
      <ng-container matColumnDef="site">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Site</th>
        <td mat-cell *matCellDef="let row">{{row.site[0].site_name}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <!--Edit Employee Buttton-->
          <button mat-icon-button color="primary" [routerLink]="['/update-employee',element._id]" class="push-right"><mat-icon>launch</mat-icon></button>
          <!--Remove Employee Button-->
          <button mat-icon-button color="warn" (click)="deleteEmployee(i,element)"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading Data...
        </mat-footer-cell>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-footer-row *matFooterDef="['Loading']" [ngClass]="{'hide':data!=null}"></mat-footer-row>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  
  

</div></mat-card>