  <div class="bg">
  
    <br><br><br>


    
    
  <mat-card class="vision-card"><br>
    <h1 class="titleh" align="center">Vision</h1><br>
    <p class="statement" align="center">To be the premire construction firm of Srilanka</p>
  </mat-card><br><br>

  <mat-card class="mission-card"><br>
    
    <h1 class="titleh" align="center">Mission</h1><br>
    <ul class="list-mission">
      <li class="statement" >To add value and provide the best construction and engineering services at a competitive price</li><br>
      <li class="statement" >To maintain highest level of competence, honesty and integrity with the client</li><br>
      <li class="statement" >To meet and exceed the clients requirements in order to cultivate long term partner ships</li>
      
    </ul>

    
  </mat-card>
  <br><br>
  </div>
