<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="empid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Emp Id</th>
      <td mat-cell *matCellDef="let row">{{row.empid}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Site</th>
      <td mat-cell *matCellDef="let row">{{row.site}}</td>
    </ng-container>

    <ng-container matColumnDef="payperday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Per day Payment</th>
      <td mat-cell *matCellDef="let row">{{row.payperday}}</td>
    </ng-container>

    <ng-container matColumnDef="otrate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Rate</th>
      <td mat-cell *matCellDef="let row">{{row.otrate}}</td>
    </ng-container>

    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Attendance</th>
      <td mat-cell *matCellDef="let row">{{row.days}}</td>
    </ng-container>

    <ng-container matColumnDef="ot">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OT</th>
      <td mat-cell *matCellDef="let row">{{row.ot}}</td>
    </ng-container>
    
    <ng-container matColumnDef="daypay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Payment</th>
      <td mat-cell *matCellDef="let row">{{row.daypay}}</td>
    </ng-container>
    
    <ng-container matColumnDef="otpay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OT Payment</th>
      <td mat-cell *matCellDef="let row">{{row.otpay}}</td>
    </ng-container>

    <ng-container matColumnDef="fullpay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Salary</th>
      <td mat-cell *matCellDef="let row">{{row.fullpay}}</td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
