<h1 align="center">Human Resource Department-Head Office</h1><br><br>
<div align="center">
    <!-- <button class="qr-btn" mat-raised-button color="primary" routerLink="/QR-scan">QR Code Attendance</button><br><br> -->
    <button class="salary-btn" mat-raised-button color="primary" routerLink="/salary-pay">Salary Payments</button><br><br>
    <button class="advnc-btn" mat-raised-button color="primary" routerLink="/advance-pay">Salary Advances</button><br><br>
    <button class="attendance-btn" mat-raised-button color="primary" routerLink="/attendance-sheet">Attendance Sheet</button><br><br>
    <button class="emp-btn" mat-raised-button color="primary" routerLink="/employee-mgmt">Employee Management</button><br><br>


</div>