.qr-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 2.5cm;
    padding-right: 2.5cm;
    font-size: 15pt;
}

.salary-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 3cm;
    padding-right: 3cm;
    font-size: 15pt;
}

.advnc-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 3cm;
    padding-right: 3cm;
    font-size: 15pt;
}
.attendance-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 2.8cm;
    padding-right: 2.8cm;
    font-size: 15pt;
}
.emp-btn{
    padding-top: 5mm;
    padding-bottom: 5mm;
    padding-left: 2.1cm;
    padding-right: 2.1cm;
    font-size: 15pt;}